In [34]:
%run hashing.ipynb

In [35]:
import pymysql

#database connection
connection = pymysql.connect(host="localhost",user="rahul",passwd="rahul",database="test" )
cursor = connection.cursor()
# some other statements  with the help of cursor
#connection.close()

In [2]:


# # queries for inserting values
# insert1 = "INSERT INTO data(name, course) VALUES('Towang', 'B.Tech CSE' );"
# # insert2 = "INSERT INTO data(name, course) VALUES('Sadduz', 'B.Tech CSE' );"

# #executing the quires
# cursor.execute(insert1)
# # cursor.execute(insert2)


# #commiting the connection then closing it.
# connection.commit()

In [29]:

def show():
    retrive = "Select * from data;"
    #executing the quires
    cursor.execute(retrive)
    rows = cursor.fetchall()
    for row in rows:
        print(row[1])
        #commiting the connection then closing it.
    connection.commit()

In [15]:

updateSql = "UPDATE data SET name='Rahul Shyokand'  WHERE id = 1 ;"
cursor.execute(updateSql)
connection.commit()

'''Echo 1 when the query is performed'''

'Echo 1 when the query is performed'

In [18]:
deleteSql = "DELETE FROM data WHERE id = 2; "
cursor.execute(deleteSql )
connection.commit()

In [23]:
def insertNewUser(NAME , COURSE):
    # queries for inserting values
    insert = """INSERT INTO data (name, course) 
                                VALUES (%s, %s) """
    record =  (NAME, COURSE)
    cursor.execute(insert, record)
    #commiting the connection then closing it.
    connection.commit()

In [24]:
insertNewUser("asdf","asdf")

In [30]:
show()

Rahul Shyokand
asdf

In [3]:
connection.close()